{{ template "header.tmpl" "404" }}
<h3>404 Not found!</h3>
<p>Please report this url to the webmaster!</p>
<a href="/">Home</a>
{{if .}}
<p>The error was: {{.}}</p>
{{end}}
{{ template "footer.tmpl" }}