{{template "header.tmpl" "Employee Details"}}

<h3>{{.Name}}</h3>
<a href="/editEmployee?eid={{.Eid}}"><button type="text">Edit</button></a><br />
<form method="post" action="/deleteEmployee">
	<input type="hidden" name="eid" value="{{.Eid}}" />
	<button type="submit">Delete</button>
</form>
<table>
	<tr>
		<td>Eid</td>
		<td><input type="text" value="{{.Eid}}" disabled /><br /></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><input type="text" value="{{.Name}}" disabled /><br /></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" value="{{.Email}}" disabled /><br /></td>
	</tr>
	<tr>
		<td>PhoneNo</td>
		<td><input type="text" value="{{.PhoneNo}}" disabled /><br /></td>
	</tr>
</table>

{{if .Projects }}
<h4>Projects</h4>
<ul>
	{{range .Projects}}
	<li>{{template "projects.tmpl" .}}</li>
	{{end}}
</ul>
{{end}}

{{if .WorkExp }}
<h4>WorkExp </h4>
<ul>
	{{range .WorkExp}}
	<li>{{template "workexp.tmpl" .}}</li>
	{{end}}
</ul>
{{end}}

{{if .Training}}
<h4>Training</h4>
<ul>
	{{range .Training}}
	<li>{{template "training.tmpl" .}}</li>
	{{end}}
</ul>
{{end}}

{{if .Education }}
<h4>Education</h4>
<ul>
	{{range .Education}}
	<li>{{template "education.tmpl" .}}</li>
	{{end}}
</ul>
{{end}}


{{ if .Skills }}
<h4>Skills</h4>
<ul>
	{{range .Skills}}
	<li>{{.Name}}</li>
	{{end}}
</ul>
{{end}}

{{template "footer.tmpl" }}
