{{ template "header.tmpl" "Index of Employees"}}

{{ range . }}
<div class="employee">
	<a href="/employee?eid={{.Eid}}">{{.Name}}</a><br/>
	{{.Email}}<br/>
	{{.PhoneNo}}<br/>
</div>
{{end}}

{{ template "footer.tmpl" }}
