<table>
<tr>
	<td>CompanyName</td>
	<td><input type="text" value="{{.CompanyName}}" disabled /><br></br>
</tr>

<tr>
	<td>Title</td>
	<td><input type="text" value="{{.Title}}" disabled /><br></br>
</tr>

<tr>
	<td>Duration</td>
	<td><input type="text" value="{{.Duration}}" disabled /><br></br>
</tr>
</table>
{{if .Skills}}
	<ul>
		{{range .Skills}}
		<li>{{.Name}}</li>
		{{end}}
	</ul>
{{end}}
