html {
  font-family: Helvetica, serif;
}
body{
    width: 80ch;
    margin: auto;
    line-height: 1.5;
    font-size: 1.2em;
}

nav {
    border-bottom: 1px solid black;
    background-color: #8899aa;
    width: 100%;
}

nav > a {
    padding: 2ch 3ch;
    color: white;
    display: inline-block;
    border-right: 1px solid gray;
}

a {
    text-decoration: none;
}

input {
    margin: 0.5ch;
}

.searchbar {
    width: 80%;
}

.searcherror {
    margin: 2ch;
    margin-top: 5ch;
}

button {
    padding: 0.5ch;
    border-radius: 0.5ch;
}


.editbuttons {
    float: right;
}

.basicinfo {
    border-collapse: collapse;
    margin: 10px;
}
th, td {
    padding: 0.6em;
    vertical-align: top;
}

#empDel{
    background-color: #ff2222
}

.employee {
    margin-bottom: 2ch;
}

.employee:hover {
    background-color: #eefcee;
}

tbody tr:nth-child(odd) {
  background-color: #aaaaaa;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

h1,h2,h3 {
     text-align: center;
     border-bottom: 1px solid black;
}

.container:hover{
    background-color: #fafafa;
}

.container > ul {
    margin-top: 0.5ch;
}

.projectname {
    margin-left: -2ch;
}
