html{
    width: 80ch;
    margin: auto;
    padding: auto;
}

label, .fromtemplate, .employee {
    margin: 2ch;
}

input {
    margin: 0.5ch;
}

.searchbar {
    width: 80%;
}

.searcherror {
    margin: 2ch;
    margin-top: 5ch;
}
