html {
  font-family: Helvetica, serif;
}

@media(width > 80ch){
    body{
	width: 80%;
	margin: auto;
	line-height: 1.5;
	font-size: 1.2em;
    }
    .projectname {
	margin-left: -2ch;
    }
    nav > a {
	padding: 2ch 3ch;
    }
}

nav {
    border-bottom: 1px solid black;
    background-color: #8899aa;
}

nav > a {
    color: white;
    display: inline-block;
    border-right: 1px solid gray;
}

a {
    text-decoration: none;
}

input {
    margin: 0.5ch;
}

input:focus:invalid {
    outline: 2px solid red;
}

input:required:invalid {
    outline: 2px solid #ffa0a0;
}

#invalidForm {
    color: #ff8686;
}

form:valid #invalidForm {
    display: none;
}

.searchbar {
    width: 80%;
}

.searcherror {
    margin-top: 5ch;
}

button {
    padding: 0.5ch;
    border-radius: 0.5ch;
}


.editbuttons {
    float: right;
}

.basicinfo {
    border-collapse: collapse;
    margin: 10px;
}

td {
    padding: 0.6em;
    vertical-align: top;
}

#empDel{
    background-color: #ff2222
}

.employee {
    margin-bottom: 2ch;
}

.employee:hover {
    background-color: #eefcee;
}

.container tr:nth-child(odd) {
  background-color: #aaaaaa;
}

.container tr:nth-child(even) {
  background-color: #eeeeee;
}

h1,h2,h3 {
     text-align: center;
     border-bottom: 1px solid black;
}

.container:hover, .fromtemplate:hover{
    background-color: #fafafa;
}

.container > ul {
    margin-top: 0.5ch;
}

.fromtemplate {
    margin-bottom: 1ch;
}

a:hover{
    font-weight: bold;
}
