{{template "header.tmpl" "Employee Details"}}

<h3>{{.Name}}</h3>
<div class="editbuttons">
<a href="/editEmployee?eid={{.Eid}}"><button id="empEdit" type="text">Edit</button></a>
<form method="post" action="/deleteEmployee">
	<input type="hidden" name="eid" value="{{.Eid}}" />
	<button id="empDel" type="submit">Delete</button>
</form>
</div>
<table class="basicinfo">
	<tr>
		<td>Eid</td>
		<td>{{.Eid}}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{.Name}}<br /></td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{.Email}}<br /></td>
	</tr>
	<tr>
		<td>PhoneNo</td>
		<td>{{.PhoneNo}}<br /></td>
	</tr>
</table>

{{if .Projects }}
<h4>Projects</h4>
{{range .Projects}}
	<div class="project container">
		{{template "projects.tmpl" .}}
	</div>
{{end}}
{{end}}

{{if .WorkExp }}
<h4>WorkExp </h4>
	{{range .WorkExp}}
	<div class="workexp container">
		{{template "workexp.tmpl" .}}
	</div>
	{{end}}
{{end}}

{{if .Training}}
<h4>Training</h4>
	{{range .Training}}
	<div class="training container">
		{{template "training.tmpl" .}}
	</div>
	{{end}}
{{end}}

{{if .Education }}
<h4>Education</h4>
	{{range .Education}}
	<div class="education container">
	{{template "education.tmpl" .}}
	</div>
	{{end}}
{{end}}


{{ if .Skills }}
<h4>Skills</h4>
<ul>
	{{range .Skills}}
	<li><a href="/searchSkill?skills={{.}}">{{.}}</a></li>
	{{end}}
</ul>
{{end}}

{{template "footer.tmpl" }}
