<!DOCTYPE html>
<html>
<head>
	<title>{{.}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/newemployee">Add Employee</a>
		<a href="/searchSkill">Search Skills</a>
	</nav>
	<br>
