<table>
<tr>
	<td>Name</td>
	<td>{{.Name}}</td>
</tr>

<tr>
	<td>Institute</td>
	<td>{{.Institute}}</td>
</tr>

<tr>
	<td>Certificate</td>
	<td>
		{{if .CertUrl}}
		<a target="_blank" href="{{.CertUrl}}">
		{{end}}
		{{.Certificate}}
		{{if .CertUrl}}
		</a>
		{{end}}
	</td>
</tr>
{{if .Duration}}
<tr>
	<td>Duration (months)</td>
	<td>{{.Duration}}</td>
</tr>
{{end}}
</table>

