<table>
<tr>
	<td>CompanyName</td>
	<td>{{.CompanyName}}
</tr>
<tr>
	<td>Title</td>
	<td>{{.Title}}
</tr>
<tr>
	<td>Duration</td>
	<td>{{.Duration}}
</tr>
</table>
{{if .Skills}}
<small>Skills</small>
	<ul>
		{{range .Skills}}
		<li><a href="/searchSkill?skills={{.}}">{{.}}</a></li>
		{{end}}
	</ul>
{{end}}
